<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>top-level-items</key>
	<array>
		<dict>
			<key>children</key>
			<array>
				<dict>
					<key>destination</key>
					<dict>
						<key>location-parameters</key>
						<dict>
							<key>EndingLineNumber</key>
							<string>320</string>
							<key>StartingLineNumber</key>
							<string>320</string>
							<key>Timestamp</key>
							<string>722467314.1762511</string>
						</dict>
						<key>rebasable-url</key>
						<dict>
							<key>base</key>
							<string>workspace</string>
							<key>payload</key>
							<dict>
								<key>relative-path</key>
								<string>Assistant Professeur/Assistant Professeur/Views/Classe/Progress/Timer/SeanceTimerView.swift</string>
							</dict>
						</dict>
					</dict>
					<key>text-context</key>
					<dict>
						<key>focused</key>
						<string></string>
						<key>leading</key>
						<string>    }
}
</string>
						<key>trailing</key>
						<string></string>
					</dict>
					<key>title</key>
					<string>ToDo: Mise à jour avancement</string>
					<key>type</key>
					<string>bookmark</string>
				</dict>
				<dict>
					<key>destination</key>
					<dict>
						<key>location-parameters</key>
						<dict>
							<key>EndingColumnNumber</key>
							<string>0</string>
							<key>EndingLineNumber</key>
							<string>223</string>
							<key>StartingColumnNumber</key>
							<string>0</string>
							<key>StartingLineNumber</key>
							<string>223</string>
							<key>Timestamp</key>
							<string>722134927.817082</string>
						</dict>
						<key>rebasable-url</key>
						<dict>
							<key>base</key>
							<string>workspace</string>
							<key>payload</key>
							<dict>
								<key>relative-path</key>
								<string>Assistant Professeur/Assistant Professeur/Views/Classe/ClasseDetail.swift</string>
							</dict>
						</dict>
					</dict>
					<key>text-context</key>
					<dict>
						<key>focused</key>
						<string></string>
						<key>leading</key>
						<string>    }
}
</string>
						<key>trailing</key>
						<string></string>
					</dict>
					<key>title</key>
					<string>TODO: - Ne pas afficher si aucune séance en cours</string>
					<key>type</key>
					<string>bookmark</string>
				</dict>
				<dict>
					<key>destination</key>
					<dict>
						<key>location-parameters</key>
						<dict>
							<key>EndingColumnNumber</key>
							<string>0</string>
							<key>EndingLineNumber</key>
							<string>280</string>
							<key>StartingColumnNumber</key>
							<string>0</string>
							<key>StartingLineNumber</key>
							<string>280</string>
							<key>Timestamp</key>
							<string>722130090.25446</string>
						</dict>
						<key>rebasable-url</key>
						<dict>
							<key>base</key>
							<string>workspace</string>
							<key>payload</key>
							<dict>
								<key>relative-path</key>
								<string>Assistant Professeur/Assistant Professeur/Views/Classe/Progress/ProgressUpdate/ClassActivityProgressEditView.swift</string>
							</dict>
						</dict>
					</dict>
					<key>text-context</key>
					<dict>
						<key>focused</key>
						<string></string>
						<key>leading</key>
						<string>    }
}
</string>
						<key>trailing</key>
						<string></string>
					</dict>
					<key>title</key>
					<string>TODO: - Ne pas afficher si aucune séance en cours</string>
					<key>type</key>
					<string>bookmark</string>
				</dict>
				<dict>
					<key>destination</key>
					<dict>
						<key>location-parameters</key>
						<dict>
							<key>EndingLineNumber</key>
							<string>350</string>
							<key>StartingLineNumber</key>
							<string>350</string>
							<key>Timestamp</key>
							<string>722134824.435035</string>
						</dict>
						<key>rebasable-url</key>
						<dict>
							<key>base</key>
							<string>workspace</string>
							<key>payload</key>
							<dict>
								<key>relative-path</key>
								<string>Assistant Professeur/Assistant Professeur/Views/New Group1/SharedViews/SeanceRow.swift</string>
							</dict>
						</dict>
					</dict>
					<key>text-context</key>
					<dict>
						<key>focused</key>
						<string></string>
						<key>leading</key>
						<string>//    }
// }
</string>
						<key>trailing</key>
						<string></string>
					</dict>
					<key>title</key>
					<string>TODO: - Ne pas afficher si aucune séance en cours</string>
					<key>type</key>
					<string>bookmark</string>
				</dict>
			</array>
			<key>title</key>
			<string>Widget</string>
			<key>type</key>
			<string>group</string>
		</dict>
		<dict>
			<key>children</key>
			<array>
				<dict>
					<key>destination</key>
					<dict>
						<key>location-parameters</key>
						<dict>
							<key>EndingColumnNumber</key>
							<string>0</string>
							<key>EndingLineNumber</key>
							<string>187</string>
							<key>StartingColumnNumber</key>
							<string>0</string>
							<key>StartingLineNumber</key>
							<string>186</string>
							<key>Timestamp</key>
							<string>721343235.72111</string>
						</dict>
						<key>rebasable-url</key>
						<dict>
							<key>base</key>
							<string>workspace</string>
							<key>payload</key>
							<dict>
								<key>relative-path</key>
								<string>Assistant Professeur/Assistant Professeur/Model/Persistence/DataBase/CoreDataManager.swift</string>
							</dict>
						</dict>
					</dict>
					<key>text-context</key>
					<dict>
						<key>focused</key>
						<string>            // initializeCloudKitSchema()
</string>
						<key>leading</key>
						<string>        #if DEBUG
            // LIGNE À DESACTIVER sous la cible "My Mac (Designed for iPad)"
</string>
						<key>trailing</key>
						<string>        #endif
    }

</string>
					</dict>
					<key>title</key>
					<string>A désactiver sur Mac</string>
					<key>type</key>
					<string>bookmark</string>
				</dict>
			</array>
			<key>title</key>
			<string>Database</string>
			<key>type</key>
			<string>group</string>
		</dict>
		<dict>
			<key>children</key>
			<array>
				<dict>
					<key>query-specification</key>
					<dict>
						<key>query</key>
						<string>text</string>
						<key>term</key>
						<dict>
							<key>text</key>
							<string>.task</string>
						</dict>
					</dict>
					<key>type</key>
					<string>batch-find-query</string>
				</dict>
				<dict>
					<key>destination</key>
					<dict>
						<key>rebasable-url</key>
						<dict>
							<key>base</key>
							<string>workspace</string>
							<key>payload</key>
							<dict>
								<key>relative-path</key>
								<string>Assistant Professeur/Assistant Professeur/Views/School/Infos/Contacts/SchoolContactEditView.swift</string>
							</dict>
						</dict>
						<key>type</key>
						<string>DVTDocumentLocation</string>
					</dict>
					<key>type</key>
					<string>bookmark</string>
				</dict>
				<dict>
					<key>destination</key>
					<dict>
						<key>location-parameters</key>
						<dict>
							<key>EndingLineNumber</key>
							<string>202</string>
							<key>StartingLineNumber</key>
							<string>202</string>
							<key>Timestamp</key>
							<string>721317917.816767</string>
						</dict>
						<key>rebasable-url</key>
						<dict>
							<key>base</key>
							<string>workspace</string>
							<key>payload</key>
							<dict>
								<key>relative-path</key>
								<string>Assistant Professeur/Assistant Professeur/Views/Classe/Progress/ClasseProgressSection.swift</string>
							</dict>
						</dict>
					</dict>
					<key>text-context</key>
					<dict>
						<key>focused</key>
						<string></string>
						<key>leading</key>
						<string>    }
}
</string>
						<key>trailing</key>
						<string></string>
					</dict>
					<key>type</key>
					<string>bookmark</string>
				</dict>
				<dict>
					<key>destination</key>
					<dict>
						<key>location-parameters</key>
						<dict>
							<key>EndingLineNumber</key>
							<string>224</string>
							<key>StartingLineNumber</key>
							<string>224</string>
							<key>Timestamp</key>
							<string>721317960.860458</string>
						</dict>
						<key>rebasable-url</key>
						<dict>
							<key>base</key>
							<string>workspace</string>
							<key>payload</key>
							<dict>
								<key>relative-path</key>
								<string>Assistant Professeur/Assistant Professeur/Views/Classe/Progress/ProgressUpdate/ClassProgressesView.swift</string>
							</dict>
						</dict>
					</dict>
					<key>text-context</key>
					<dict>
						<key>focused</key>
						<string></string>
						<key>leading</key>
						<string>    }
}
</string>
						<key>trailing</key>
						<string></string>
					</dict>
					<key>type</key>
					<string>bookmark</string>
				</dict>
				<dict>
					<key>destination</key>
					<dict>
						<key>location-parameters</key>
						<dict>
							<key>EndingLineNumber</key>
							<string>286</string>
							<key>StartingLineNumber</key>
							<string>286</string>
							<key>Timestamp</key>
							<string>721317997.969106</string>
						</dict>
						<key>rebasable-url</key>
						<dict>
							<key>base</key>
							<string>workspace</string>
							<key>payload</key>
							<dict>
								<key>relative-path</key>
								<string>Assistant Professeur/Assistant Professeur/Views/Classe/Progress/CurrentActivity/ClassRailwayProgressView.swift</string>
							</dict>
						</dict>
					</dict>
					<key>text-context</key>
					<dict>
						<key>focused</key>
						<string></string>
						<key>leading</key>
						<string>    }
}
</string>
						<key>trailing</key>
						<string></string>
					</dict>
					<key>type</key>
					<string>bookmark</string>
				</dict>
				<dict>
					<key>destination</key>
					<dict>
						<key>location-parameters</key>
						<dict>
							<key>EndingLineNumber</key>
							<string>320</string>
							<key>StartingLineNumber</key>
							<string>320</string>
							<key>Timestamp</key>
							<string>722467314.175927</string>
						</dict>
						<key>rebasable-url</key>
						<dict>
							<key>base</key>
							<string>workspace</string>
							<key>payload</key>
							<dict>
								<key>relative-path</key>
								<string>Assistant Professeur/Assistant Professeur/Views/Classe/Progress/Timer/SeanceTimerView.swift</string>
							</dict>
						</dict>
					</dict>
					<key>text-context</key>
					<dict>
						<key>focused</key>
						<string></string>
						<key>leading</key>
						<string>    }
}
</string>
						<key>trailing</key>
						<string></string>
					</dict>
					<key>title</key>
					<string>Timer</string>
					<key>type</key>
					<string>bookmark</string>
				</dict>
				<dict>
					<key>destination</key>
					<dict>
						<key>location-parameters</key>
						<dict>
							<key>EndingColumnNumber</key>
							<string>0</string>
							<key>EndingLineNumber</key>
							<string>206</string>
							<key>StartingColumnNumber</key>
							<string>0</string>
							<key>StartingLineNumber</key>
							<string>205</string>
							<key>Timestamp</key>
							<string>721326281.979098</string>
						</dict>
						<key>rebasable-url</key>
						<dict>
							<key>base</key>
							<string>workspace</string>
							<key>payload</key>
							<dict>
								<key>relative-path</key>
								<string>Assistant Professeur/Assistant Professeur/Views/Eleve/EleveSidebarView.swift</string>
							</dict>
						</dict>
					</dict>
					<key>text-context</key>
					<dict>
						<key>focused</key>
						<string>        .task(id: taskId) {
</string>
						<key>leading</key>
						<string>
        // Filtrer les élèves
</string>
						<key>trailing</key>
						<string>            filteredEleveInClasse = classe.filteredElevesSortedByName(
                searchString: searchString,
                withObservation: navigationModel.filterObservation,
</string>
					</dict>
					<key>type</key>
					<string>bookmark</string>
				</dict>
				<dict>
					<key>destination</key>
					<dict>
						<key>location-parameters</key>
						<dict>
							<key>EndingColumnNumber</key>
							<string>0</string>
							<key>EndingLineNumber</key>
							<string>588</string>
							<key>StartingColumnNumber</key>
							<string>0</string>
							<key>StartingLineNumber</key>
							<string>588</string>
							<key>Timestamp</key>
							<string>721769394.7210979</string>
						</dict>
						<key>rebasable-url</key>
						<dict>
							<key>base</key>
							<string>workspace</string>
							<key>payload</key>
							<dict>
								<key>relative-path</key>
								<string>Assistant Professeur/Assistant Professeur/Views/Program/TimeLine/New Group/ProgramPlanningView.swift</string>
							</dict>
						</dict>
					</dict>
					<key>text-context</key>
					<dict>
						<key>focused</key>
						<string></string>
						<key>leading</key>
						<string>//    }
// }
</string>
						<key>trailing</key>
						<string></string>
					</dict>
					<key>type</key>
					<string>bookmark</string>
				</dict>
			</array>
			<key>title</key>
			<string>Task</string>
			<key>type</key>
			<string>group</string>
		</dict>
		<dict>
			<key>query-specification</key>
			<dict>
				<key>match-case</key>
				<integer>1</integer>
				<key>query</key>
				<string>text</string>
				<key>term</key>
				<dict>
					<key>text</key>
					<string>TODO</string>
				</dict>
			</dict>
			<key>type</key>
			<string>batch-find-query</string>
		</dict>
		<dict>
			<key>query-specification</key>
			<dict>
				<key>match-case</key>
				<integer>1</integer>
				<key>query</key>
				<string>text</string>
				<key>term</key>
				<dict>
					<key>text</key>
					<string>FIXME</string>
				</dict>
			</dict>
			<key>type</key>
			<string>batch-find-query</string>
		</dict>
		<dict>
			<key>destination</key>
			<dict>
				<key>location-parameters</key>
				<dict>
					<key>EndingColumnNumber</key>
					<string>56</string>
					<key>EndingLineNumber</key>
					<string>161</string>
					<key>StartingColumnNumber</key>
					<string>17</string>
					<key>StartingLineNumber</key>
					<string>161</string>
					<key>Timestamp</key>
					<string>722193377.948228</string>
				</dict>
				<key>rebasable-url</key>
				<dict>
					<key>base</key>
					<string>workspace</string>
					<key>payload</key>
					<dict>
						<key>relative-path</key>
						<string>Assistant Professeur/Assistant Professeur/Model/Persistence/Authentication/Authentication.swift</string>
					</dict>
				</dict>
			</dict>
			<key>text-context</key>
			<dict>
				<key>focused</key>
				<string>setUserCredentialsFromAppleIDCredential</string>
				<key>leading</key>
				<string>    /// Créer les Credential à partir des Credential Apple.
    /// Mettre à jour les context utilisateur avec le Owner.
    private func </string>
				<key>trailing</key>
				<string>(
        userIdentifier: String,
        fullName: PersonNameComponents,
</string>
			</dict>
			<key>title</key>
			<string>Login</string>
			<key>type</key>
			<string>bookmark</string>
		</dict>
	</array>
</dict>
</plist>
